@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic);

/* Main */
.navigation {
  margin-top: 70px;
  height: 110px;
}

.navigation li {
  line-height: 110px;
  display: inline;
  padding-left: 30px;
  font-size: 26px;
}

.logo p {
  text-align: center;
  font-size: 36px;
}

.logo-img {
  background: url(img/logo.png) no-repeat center;
  width: 100%;
  height: 95px;
  margin-top: -45px;
}

/* Samples */
.dialog {
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(153, 226, 226, 0.4);
  display: none;
}

.dialog .close {
  margin: 10px;
}

.dialog.visible {
  display: inherit;
}

.dialog .image {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Home */
.work-hours {
  margin: 0;
  padding: 0 40px;
}

.work-hours li {
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #99e2e2;
  line-height: 50px;
}

.halls {
  margin-bottom: 10px;
}

.halls .rn-carousel-control-prev, .halls .rn-carousel-control-next {
  color: #99e2e2;
  font: 50px bold;
}

.halls .rn-carousel-control-next {
  right: 0;
}

.halls .rn-carousel-control-prev {
  left: 0;
}

/* About Us */
#location {
  height: 450px;
}

/* Menu */

.menu {
  text-align: center;
}

/* Style */
body {
  background-clip: border-box;
  background-origin: padding-box;
  background: url(img/theme.jpg) no-repeat 50% 0;
  background-size: cover;
}

.control-block, .control-block a {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  background-color: #99e2e2;
  color: #ffffff;
}

.content-block {
  border: 1px solid #99e2e2;
  padding: 10px;
}

.content-block, .content-block a {
  font-family: 'Poiret One', cursive;
  background-color: #ffffff;
  color: #6b3b17;
  font-size: 16px;
}

.content-block .header {
  font-size: 20px;
  color: #0fa8a1;
}