<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="content-block menu" ng-if="!halls">
      <p class="header">Секундочку....</p>
    </div>
    <div class="content-block halls" ng-if="halls">
      <ul rn-carousel rn-carousel-control>
        <li ng-repeat="hall in halls">
          <p class="header">{{hall.name}}</p>
          <img src="{{hall.imgUrl}}" style="width: 100%;">
          <p>{{hall.description}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="content-block work-hours">
      <li><p class="header">Часы работы</p></li>
      <li>Пн - Вс: 9:00 - 24:00</li>
      <li>без перерыва на обед</li>
      <li>без выходных</li>
    </ul>
  </div>
</div>